li{
  font-size: 9px;
  font-weight: 600;
  color:white;
  margin-left: 20px;
  margin-right:20px;
  margin-bottom: 5px;
}

#typo-accordian{
  font-size: 12px;
  font-weight: 600;

  color:white;
  margin: 0px;
  padding: 0px;
}

.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
  margin: 0px;
}

.css-o4b71y-MuiAccordionSummary-content {
  margin: 0px;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root:hover:not(.Mui-disabled){
  background-color: #1b1b1b;
  margin: 0px;
}

.css-15v22id-MuiAccordionDetails-root{
  padding: 0px;
}

.css-i4bv87-MuiSvgIcon-root {
  color: var(--gray-elements);
}