.ban-checker-wrapper{
  text-align: center;
}

.ban-checker-input-wrapper{
  text-align: left;
  margin: 20px;
}

.ban-checker-input-wrapper input{
  margin-top: 10px;
  color:white;
  background-color: var(--gray-elements);
  border-radius: 5px;
}

.ban-checker-input-wrapper button{
  margin: 10px;
  color: var(--green-elements);
  background-color: var(--gray-elements);
}

.streamer-ban-details {
  background-color: rgb(41, 41, 41);
  margin-top: 60px;
  margin:20px;
  display: grid;
  grid-template-columns: 1fr(3);
  grid-template-areas:
  "pfp name status";
  align-items: center;
}

.image-wrapper{ 
  margin-top: 4px;
  grid-area: pfp;
}

#pfp{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.streanername-wrapper{
  grid-area: name;
}

#streamer_name{
  color: var(--gray-elements);
}

.ban_status_wrapper{
  grid-area: status;
}
#ban-status{
  align-items: center;
}