.ban-checker-wrapper{
  text-align: center;
}

.ban-checker-input-wrapper{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;

}

input[type=text] {
  width: 50%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

.ban-checker-input-wrapper input{
  margin-top: 40px;
  color:white;
  background-color:  rgba(37, 37, 37, 0.968);
  border-radius: 5px;
}

.ban-checker-input-wrapper button{
  margin: 10px;
  border-radius: 5px;
  color: var(--green-elements);
  background-color: rgb(50, 50, 50);
}

.streamer-ban-details {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(37, 37, 37, 0.968);
  border-radius: 10px;
  margin-top: 100px;
  padding: 40px;
  margin: 40px;
  display: grid;
  grid-template-areas:
  "pfp"
  "name"
  "status";
  align-items: center;
}

.image-wrapper{ 
  grid-area: pfp;
}

#pfp{
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.streanername-wrapper{
  grid-area: name;
}

#streamer_name{
  color: white;
  font-size: 30px;
  white-space: nowrap;
}

.ban_status_wrapper{
  grid-area: status;
  font-size: 30px;
  white-space: nowrap;
}
#ban-status{
  align-items: center;
}


/* @@@ALL BROWSERS@@@ */
@media (min-width: 840px) {
  input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .ban-checker-input-wrapper button{
    margin: 10px;
    padding: 12px;
    border-radius: 5px;
    color: var(--green-elements);
    background-color: rgb(50, 50, 50);
  }
  

  .ban-checker-input-wrapper input{
    margin-top: 70px;
    margin-bottom: 70px;
    color:white;
    background-color: rgba(37, 37, 37, 0.968);
    border-radius: 5px;
  }
  

  .streamer-ban-details {
    border-radius: 10px;
    margin-top: 100px;
    padding: 20px;
    margin: 40px;
    display: grid;
    grid-template-areas:
    "pfp name status";
    align-items: center;
  }
  
  #pfp{
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
  
  #streamer_name{
    font-size: 50px;
    white-space: nowrap;
    color: white;
  }
  
  .ban_status_wrapper{
    white-space: nowrap;
    font-size: 50px;
    grid-area: status;
  }  
}
