.create-channels-container{
  margin: auto 0;
  margin-top: 55px;
}

.create{
  margin: 5px;
}

#create-header{
  text-align: center;
  white-space: nowrap;
  margin: 10px;
  /* margin-right: 270px; */
  border-radius: 10px;
  color: var(--white-elements);
}

.create-input-container{
  margin-bottom: 10px;
}


.textfield{
  color: white;
}

.label.Mui-focused{
  color: white;
}