.create-channels-container{
  margin: auto 0;
  margin-top: 55px;
}

.create{
  position: relative;
  margin-top: 10px;
}

#create-header{
  text-align: left;
  margin: 10px;
  color: var(--white-elements);
}

.create-input-container{
  margin-bottom: 10px;
}

.box{
  margin-left: 5px;
}

.textfield{
  color: white;
}

.label.Mui-focused{
  color: white;
}