.create-channels-container{
  margin: auto 0;
  margin-top: 75px;
}

.create{
  margin: 5px;
  text-align: left;
}

#create-header{
  margin: 10px;
  padding: 0px;
  background-color: rgb(37, 37, 37);
  color: var(--white-elements);
}

.create-input-container{
  margin-bottom: 10px;
}


.textfield{
  color: white;
}

.label.Mui-focused{
  color: white;
}