.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--green-elements);
  color: black;
  font-size: 8px;
  font-weight: 800;
  text-align: right;
  z-index: 9999;
}

#footer-text{
  position: relative;
  padding: 0px;
  margin: 0px;
  margin-right: 5px;
}

#footer-time{
  position:relative;
  padding: 0px;
  margin: 0px;
  margin-right: 5px;
}