:root {
  --pulsating-dot: rgb(167, 0, 0);
  --green-elements: rgb(85, 255, 47);
  --gray-elements: rgb(73, 73, 73); 
  --white-elements: white;
}

.live-stream-card-container {
  margin: 5px;
  /* border: 1px solid rgb(35, 35, 35); */
  border-radius: 2%;
}

.live-stream-card {
  display: grid;
  border-top: 2px solid rgba(73, 73, 73, 0.203);
  grid-template-rows: 1fr;
  grid-template-columns: 0.3fr 2.5fr 0.3fr ;
  grid-template-areas: 
   "pfp details isLive viewers ";
}

.channel-pfp-container {
  grid-area: pfp;
  display: flex;
  justify-content: center;
  margin: 0px;
}

#offline-pfp {
  filter: grayscale(100%);
  margin: 10px;
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

#online-pfp {
  margin: 10px;
  width: 50px; 
  height: 50px;
  border: 1px var(--green-elements) solid;
  border-radius: 50%;
  overflow: hidden;
}

.channel-name-container {
  grid-area: name;
  display: flex;
  /* align-items: center; */
  /* position: relative; */
  margin-top: 5px;
}

#channel-name {
  color: var(--green-elements);
  text-align: left;
  white-space: nowrap;
}

#channel-name h5 {
  margin: 5px;
}

#channel-online {
  margin-right: 0px;
  font-size: 14px;
  color: var( --green-elements);
}

#channel-offline {
  font-size: 14px;
  color:var(--gray-elements);
}

#verified-badge{
  margin-top: 2px;
  height: 15px;
  display: flex;
}

#followers {
  margin-top: 5px;
  font-size: 8px;
  font-weight: 800;
  color:var(--white-elements);
}

.followed-by-container{
  position:relative;
  font-size: 10px;
  font-weight: 800;
  margin-top: 10px;
};

#stream-title{
  position: relative;
  margin-top: 5px;
  font-size: 10px;
}

#title-offline {
  /* color:var(--gray-elements); */
  /* margin-bottom: 10px; */
  font-size: 10px;
}
 #title-online {
  color:var(--white-elements);
  margin-bottom: 5px;
  font-size: 10px;
 }
.live-stream-details-container {
  grid-area: details;
  color:var(--gray-elements);
  text-align: left;
  overflow: hidden;
  text-overflow:ellipsis;
}

.live-stream-details-container h6 {
  margin: 0px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.stream-title-container{
  position: relative;
  margin-top: 10px;
}
  .is-live{
    grid-area: isLive;
    font-size: 6px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0px;
    text-align: center;
  }

  #offline-live{
    font-size: 12px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--gray-elements);
  }

  #online-live {
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #is-online{
    margin: 0px;
    text-align: center;
  }

.live-viewers-count-container {
  grid-area: isLive;
  display: grid;
  position: relative;
  text-align: center;
  white-space: nowrap;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  color:var(--white-elements);
};

.viewers{
  font-size: 10px;
  grid-area: viewers;
  display: grid;
}