
.live-stream-card {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.5fr 2.5fr 0.5fr 0.5fr;
  grid-template-areas: 
   "pfp name isLive viewers"
   "pfp details isLive viewers";
   border-top: 2px solid rgb(35, 35, 35);
}
.channel-pfp-container {
  grid-area: pfp;
  display: flex;
  justify-content: center;
  margin: 10px;
}
#channel-pfp {
  width: 60px; 
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.channel-name-container {
  grid-area: name;
  display: grid;
  margin-bottom: 30px;
}

#channel-name {
  color: rgb(85, 255, 47);
  text-align: left;
  white-space: nowrap;
}

#channel-name h5 {
   margin: 0px;
}

.live-stream-details-container {
  grid-area: details;
  color: rgb(94, 94, 94);
  text-align: left;
  overflow: hidden;
  text-overflow:ellipsis;
  margin-bottom: 10px;
}

.live-stream-details-container h6 {
  margin: 0px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

  .active-banned-container{
    margin: auto 0;
    text-align: left;
    white-space: nowrap;
  }
  
  .is-live{
    grid-area: isLive;
    color:  rgb(85, 255, 47);
    margin: auto 0;
    text-align: center;
    border-left: 2px solid rgb(35, 35, 35);
    border-right: 2px solid rgb(35, 35, 35);
  }
  
  #offline-noti{
    color:rgb(60, 60, 60);
  }
  #is-online{
    text-align: center;
  }

.live-viewers-count-container {
  color: rgb(177, 177, 177);
  grid-area: viewers;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}