
.live-stream-card {
  margin: 50px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr 4fr 3fr;
  grid-template-areas: 
   "pfp name details Banstat viewers";
}
.channel-pfp-container {
  grid-area: pfp;
  display: grid;
}
#channel-pfp {
  width: 65px; /* Adjust the width and height to your desired size */
  height: 65px;
  border-radius: 50%; /* Makes the element circular */
  overflow: hidden;
}

.channel-name-container {
  grid-area: name;
  display: grid;
}

#channel-name {
  text-align: center;
  margin: auto 0;
  padding-left: 0%;
  /* margin-right: 15px; */
  white-space: nowrap;
}

.live-stream-details-container {
  grid-area: details;
  margin: auto 0;
  text-align: center;
  margin-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.live-stream-details-container h3 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  }

  .active-banned-container{
    grid-area: Banstat;
    margin: auto 0;
    text-align: center;
    white-space: nowrap;
  }
  

.live-viewers-count-container {
  grid-area: viewers;
  margin: auto 0;
  text-align: left;
  margin-right: 15px;
  margin-left: 15px;
  white-space: nowrap;
}

#is-online {
  text-align: left;
}