body{
  background: #1b1b1b;
}

.homepage-container{
    margin-top: 60px;
}

.home-text{
  padding-top: 40px;
  text-align: center;
  background-image:url("https://media3.giphy.com/media/l41K3o5TzvmhZwd4A/giphy.gif?cid=6c09b952n6rfjlnb3qi71k89v7f1cn7rt5p7mb1um61jugw6&ep=v1_gifs_search&rid=giphy.gif&ct=g");  
}

#home-animation{
  filter: opacity(80%);
  height: 150px;
  animation: rotation 7s infinite linear; 
  animation-play-state: running;
}

#home-page-logo{
  width: 100px; 
  height: 100px;
  background-size: cover;
}

#home-page-logo:hover {
  animation-play-state: paused;
}

#home-enter-logo{
  margin-top: 60px;
  height: 75px;
}

.home-page-card{
  position:fixed;
  top: 10%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.css-46bh2p-MuiCardContent-root {
  background-color: var(--green-elements);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}