.homepage-container{
    margin-top: 60px;
}

.home-text{
  padding-top: 40px;
  text-align: center;
}

#home-animation{
  filter: opacity(80%);
  height: 200px;
  animation: rotation 7s infinite linear; 
  animation-play-state: running;
}

#home-page-logo{
  width: 100px; 
  height: 100px;
  background-size: cover;
}

#home-page-logo:hover {
  animation-play-state: paused;
}

#home-enter-logo{
  margin-top: 60px;
  height: 75px;
}

.home-page-card{
  position:fixed;
  top: 10%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.css-46bh2p-MuiCardContent-root {
  background-color: var(--green-elements);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}