.homepage-container{
    margin-top: 100px;
}

.home-text{
  padding-top: 200px;
  margin: 10px;
  text-align: center;
}

#home-animation{
  height: 175px
}

#home-page-logo{
  width: 300px; 
  height: 300px;
  background-size: cover;
  animation: rotation 7s infinite linear; 
  animation-play-state: running;
}

#home-page-logo:hover {
  animation-play-state: paused;
}

#home-enter-logo{
  height: 40px;
}

.home-page-card{
  position:fixed;
  top: 30%; /* Move the top edge to the center */
  left: 50%; /* Move the left edge to the center */
  transform: translate(-50%, -50%); /* Center the div precisely */
}

.css-46bh2p-MuiCardContent-root {
  background-color: var(--green-elements);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}