.homepage-container{
  margin-top: 300px;
}

.home-text{
  margin: 10px;
  text-align: center;
  margin-bottom: 500px;
}

#home-page-logo{
  width: 50px; 
  height: 50px;
  background-image: url('https://i.imgur.com/fExb69W.png'); 
  background-size: cover;
  animation: rotation 4s infinite linear; 
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}