.material-cards-container{
  margin-top: 140px;
  margin-bottom: 50px;

}

.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
      cursor: pointer;
    }
    
    .card:hover{
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }
    
    .card h3{
      font-weight: 600;
    }
    
    .card img{
      position: absolute;
      top: 20px;
      right: 15px;
      max-height: 120px;
    }
    
    .card-1{
  padding: 2px;
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
  background-color: rgb(40, 40, 40);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}
  
.card-1 P{
  margin: 10px;
}

.card-1 h2{
  margin: 10px;
}

  #p-material-cards{
    color: var(--green-elements);
  }
  
  
  .card-2{
    padding: 2px;
    background-color: rgb(40, 40, 40);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
  }
  
  .card-2 P{
  margin: 10px;
}

.card-2 h2{
  margin: 10px;
}


.card-3{
  padding: 2px;
    background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
    background-color: rgb(40, 40, 40);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-3 h2{
  margin: 10px;
}

.card-3 P{
  margin: 10px;
}

@media(max-width: 900px){
  .card{
    margin: 20px;
  }
} 