.browser-nav-container{
  /* position: fixed; */
  width: 100%; 
  background-color: #1b1b1b;
  border-bottom: 1px solid rgba(94, 94, 94, 0.178); 

  display: flex;
  justify-content: space-between; /* This will separate the elements, pushing one to the left and the other to the right */
  align-items: center; /* This will vertically center the items */
  padding: 10px; /* Add some padding around the items (adjust as needed) */
}

.mobile-menu-container{ 
  display: flex;
  grid-template-columns: repeat(1, auto); /* Four equal columns with auto-sizing based on content */
  /* gap: 90px; */
  justify-content: flex-end; /* Center the icons horizontally */
}

.home-logo-container{
  grid-area: home;
  display: grid;
  margin-right: auto;
}

#home-logo {
  margin: 0px;
  margin-left: 10px;
  height:30px;
}
#home-logo-link{
  text-decoration: none;
}

#hamburger-menu{
  height:20px;
}

#home-logo{
  width: 20px; 
  height: 20px;
  background-size: cover;
}

@media (max-width: 820px) {
  nav {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .mobile-menu-container {
      margin: 10px;
      grid-template-columns: repeat(5, auto); /* Four equal columns with auto-sizing based on content */
      gap: 150px;
      justify-content: center; /* Center the icons horizontally */
    }
    
    #home-mobile-logo {
      height:20px;
      width: 20px;
    }
}

@media (max-width: 544px) {
  
  .mobile-menu-container {
    grid-template-columns: repeat(5, auto); /* Four equal columns with auto-sizing based on content */
    gap: 85px;
    justify-content: center; /* Center the icons horizontally */
  }

  #home-mobile-logo {
  height:20px;
  width: 20px;
  }
}

@media (max-width: 420px) {
  
    .mobile-menu-container {
      grid-template-columns: repeat(5, auto); /* Four equal columns with auto-sizing based on content */
      gap: 57px;
      justify-content: center; /* Center the icons horizontally */
    }
  
    #home-mobile-logo {
    height:20px;
    width: 20px;
    }
}

@media (max-width: 220px) {
  
  .mobile-menu-container {
    grid-template-columns: repeat(5, auto); /* Four equal columns with auto-sizing based on content */
    gap: 27px;
    justify-content: center; /* Center the icons horizontally */
  }

  #home-mobile-logo {
  height:20px;
  width: 20px;
  }
}