Link{
  text-decoration: none;
}

.nav-bar{
  position: fixed;
  width: 100%;
  background-color: #1b1b1b;
  border-bottom: 1px solid rgba(94, 94, 94, 0.178); 
}

.home-logo-container{
  grid-area: home;
  display: grid;
  margin-right: auto;
}

#home-logo {
  margin: 0px;
  margin-left: 10px;
  height:30px;
}
#home-logo-link{
  text-decoration: none;
}

.hamburger-menu-container{ 
  display: grid;
  margin-right: 10px;
  justify-content: flex-end;
  grid-area: hamburger;
}

#hamburger-menu{
  height:20px;
}

#home-logo{
  width: 20px; 
  height: 20px;
  background-size: cover;
}

#trending-mobile-link {
  text-decoration: none;
}

#create-mobile-link{
  text-decoration: none;
}
#support-mobile-link{
  text-decoration: none;
}
#contact-mobile-link{
  text-decoration: none;
}

@media (max-width: 767px) {
  nav {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
    .hamburger-menu-container {
      margin: 10px;
      grid-template-columns: repeat(5, auto); /* Four equal columns with auto-sizing based on content */
      gap: 90px;
      justify-content: center; /* Center the icons horizontally */
    }
  
  #home-mobile-logo {
    height:20px;
    width: 20px;
  }
}

@media (max-width: 420px) {
  
    .hamburger-menu-container {
      margin: 10px;
      grid-template-columns: repeat(5, auto); /* Four equal columns with auto-sizing based on content */
      gap: 50px;
      justify-content: center; /* Center the icons horizontally */
    }
  
    #home-mobile-logo {
    height:20px;
    width: 20px;
    }
 
}