nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.browser-nav-container{
  border-bottom: 1px solid rgba(94, 94, 94, 0.178); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1b1b1b;
  z-index: 9999;
}

.mobile-menu-container{ 
  display: flex;
  grid-template-columns: repeat(1, auto); 
  width: 100%;
  justify-content: flex-end; 
  background-color: #1b1b1b;
  border-top: 1px solid var(--gray-elements);
}

#mobile-nav-item{
  margin: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.home-logo-container{
  grid-area: home;
  display: grid;
  margin-right: auto;
}

#home-logo {
  margin: 0px;
  margin-left: 10px;
  height:30px;
}
#home-logo-link{
  text-decoration: none;
}

#hamburger-menu{
  height:20px;
}

#home-logo{
  width: 20px; 
  height: 20px;
  background-size: cover;
}

@media (max-width: 840px) {
  nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .mobile-menu-container {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 30px;
    grid-template-columns: repeat(5, auto); 
    gap: 150px;
    justify-content: center; 
  }
  
  #home-mobile-logo {
    height:20px;
    width: 20px;
  }
}

@media (max-width: 768px) {
  
  .mobile-menu-container {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 30px;
    grid-template-columns: repeat(5, auto); 
    gap: 100px;
    justify-content: center; 
  }
  
  #home-mobile-logo {
  height:20px;
  width: 20px;
}
}

  /* *Samsung S23* */
@media (max-width: 414px) {
  
  .mobile-menu-container {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 30px;
    grid-template-columns: repeat(5, auto); 
    gap: 60px;
    justify-content: center; 
  }
  
  #home-mobile-logo {
  height:20px;
  width: 20px;
}
}

@media (max-width: 390px) {
  
  .mobile-menu-container {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 0px;
    grid-template-columns: repeat(5, auto); 
    gap: 57px;
      justify-content: center; 
    }
    
    #home-mobile-logo {
      height:20px;
    width: 20px;
    }
}

@media (max-width: 360px) {
  
  .mobile-menu-container {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 0px;
    grid-template-columns: repeat(5, auto); 
    gap: 47px;
      justify-content: center; 
    }
    
    #home-mobile-logo {
      height:20px;
    width: 20px;
    }
}

@media (max-width: 220px) {
  
  .mobile-menu-container {
    grid-template-columns: repeat(5, auto);
    margin-top: 30px;
    gap: 27px;
    justify-content: center;
  }

  #home-mobile-logo {
  height:20px;
  width: 20px;
  }
}