.nav-bar{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
   "home hamburger";
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #1b1b1b;
  border-bottom: 1px solid rgba(94, 94, 94, 0.178);
}

.home-logo-container{
  grid-area: home;
  display: grid;
  margin-right: auto;
}

#home-logo {
  margin: 0px;
  margin-left: 10px;
  height:30px;
}
#home-logo-link{
  text-decoration: none;
}

.hamburger-menu-container{ 
  display: grid;
  margin-right: 10px;
  justify-content: flex-end;
  grid-area: hamburger;
  opacity: 50%;
}

#hamburger-menu{
  height:20px;
}

#home-logo{
  width: 20px; 
  height: 20px;
  background-size: cover;
}