.before-submission-container{
  text-align: center;
  margin-top: 150px;
}

#joel-always-wins-sub{
  height:160px;
}

.search-channels-container{
  margin-top: 50px;
}

.search{
  position: relative;
  margin-top: 20px;
}

#search-header{
  text-align: left;
  margin: 10px;
  color: var(--green-elements);
}

.search-input-wrapper{
    text-align: left;
  margin: 20px;
}

.search-input-wrapper input{
  margin-top: 10px;
  color:white;
  background-color: var(--gray-elements);
  border-radius: 5px;
}


.search-input-wrapper button{
  border-radius: 5px;
  margin: 10px;
  color: var(--green-elements);
  background-color: var(--gray-elements);
}

.textfield{
  color: white;
}

label[data-shrink=false]+.MuiInputBase-formControl .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  width: 99%;
}

.label.Mui-focused{
  color: var(--green-elements);
}

.css-113pz37-MuiFormControl-root-MuiTextField-root input{
  width: 100%;
}

.css-1sm5zq2{
  margin: 5px;
}



@media (max-width: 840px) {
  .search-channels-container{
    margin-top: 0px;
  }
}


@media (max-width: 768px) {
  .search-channels-container{
    margin-top: 0px;
  }
}


@media (max-width: 414px) {
  .search-channels-container{
    margin-top: 0px;
  }
}


@media (max-width: 390px) {
  .search-channels-container{
    margin-top: 0px;
  }
}

@media (max-width: 360px){
  .search-channels-container{
    margin-top: 0px;
  }
}


@media (max-width: 220px){
  .search-channels-container{
    margin-top: 0px;
  } 
}