:root {
  --pulsating-dot: var(--green-elements);
  --green-elements: rgb(85, 255, 47);
  --gray-elements: rgb(85, 85, 85);
  --graytwo-elements: rgb(162, 162, 162);
  --white-elements: rgba(255, 255, 255, 0.782);
}

 /* button */
.offline-online-switch-container{
  display: flex;
  justify-content: flex-end;
}

#online-offline-switch{
  display: flex;
  color: var(--green-elements);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(116, 116, 116);
  margin: 16px;
}

.live-stream-card-container {
  position: relative;
  min-height: 98.5%;
  margin: 2px;
  margin-bottom: 25px;
  background-color: #1b1b1b;
}

.live-stream-card {
  display: grid;
  margin: 0px;
  border-top: 2px solid rgba(73, 73, 73, 0.203);
  grid-template-rows: 1fr;
  grid-template-columns: 0.3fr 2.5fr 0.3fr ;
  grid-template-areas: 
   "pfp details isLive viewers ";
}

.channel-pfp-container {
  grid-area: pfp;
  display: grid;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.pfp{
  display: grid;
  place-items: center;
  margin-left: 3px;
  margin-right: 3px;
}

#offline-pfp {
  filter: grayscale(100%);
  margin: 4px;
  width: 45px; 
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

#online-pfp {
  margin: 4px;
  width: 45px;
  height: 45px;
  border: 1px var(--green-elements) solid;
  border-radius: 50%;
  overflow: hidden;
}

.channel-name-container {
  grid-area: name;
  display: flex;
}

#channel-name {
  color: var(--green-elements);
  text-align: left;
  white-space: nowrap;
}

#channel-name h6 {
  margin: 5px;
}

#channel-online {
  font-weight: 900;
  font-size: 12px;
  margin-top: 5px;
  color: var( --green-elements);
}

#channel-offline {
  font-weight: 900;
  font-size: 12px;
  margin-top: 5px;
  color:var(--gray-elements);
}

#verified-badge-online{
  position: absolute;
  height: 15px;
}

#verified-badge-offline{
  position: absolute;
  height: 15px;
  filter: grayscale(100%);
}

#followers {
  font-size: 10px;
  font-weight: 700;
}

#followers-offline{
  font-weight: 400;
  margin: 0px;
  margin-top:2px;
  color: var(--gray-elements);
}

#followers-online{
  font-weight: 400;
  margin: 0px;
  margin-top:2px;
  color:var(--gray-elements);
}

#title-offline {
  font-size: 10px;
  margin: 0px;
  margin-top: 2px;
  font-weight: 900;
  color:var(--gray-elements);
}

 #title-online {
  font-size: 10px;
  margin: 0px;
  margin-top: 2px;
  font-weight: 900;
  color:var(--graytwo-elements);
 }

.live-stream-details-container {
  grid-area: details;
  margin-top: 1px;
  margin-bottom: 2px;
  color:var(--gray-elements);
  overflow: hidden;
  text-overflow:ellipsis;
}

.live-stream-details-container h6 {
  display: inline-block;
  place-items: center;
  margin: 0px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.stream-title-container{
  position: relative;
 
}
  .is-live{
    grid-area: isLive;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2px;
  }
  
  #offline-live{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--gray-elements);
  }

  
  #online-live {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #is-online{
    margin: 0px;
    text-align: center;
  }

.live-viewers-count-container {
  grid-area: isLive;
  display: grid;
  text-align: center;
  white-space: nowrap;
  margin-right: 4px;
  font-size: 10px;
  font-weight: 900;
  color:var(--white-elements);
};

.viewers{
  grid-area: viewers;
  display: grid;
}


@media (max-width: 420px) {

.live-stream-card-container {
  margin-top: 0px;
}
}
