#video-title{
font-size: 14px;
margin-left: 14px;
margin-right: 14px;
color: var(--green-elements);
background-color: var(--gray-elements);
}

a{
  text-decoration: none;
  color: var(--gray-elements);
}

.videos{
  text-align: center;
  margin-top: 60px;
}

.video-container{
  text-align: center;
  margin: 10px;
  margin-top: 150px;
}

.video-thumbnail-wrapper {
  display: grid;
  text-align: center;
  padding-bottom: 50px;
  grid-template-columns: repeat(1 , 1fr);
  background-image:url("https://media3.giphy.com/media/l41K3o5TzvmhZwd4A/giphy.gif?cid=6c09b952n6rfjlnb3qi71k89v7f1cn7rt5p7mb1um61jugw6&ep=v1_gifs_search&rid=giphy.gif&ct=g");  
}

.youtube-video{
  margin-top: 60px;
  text-align: center;
  max-width: 100%;
}

#youtube-video{
  text-align: center;
  width: 98%;
  height: 300px;
}

#video-thumbnails{
  margin-left: 10px;
  margin-right: 10px;
  max-width: 95%;
  height: auto;
}

.videos-wrapper{
  background-image:url("https://media3.giphy.com/media/l41K3o5TzvmhZwd4A/giphy.gif?cid=6c09b952n6rfjlnb3qi71k89v7f1cn7rt5p7mb1um61jugw6&ep=v1_gifs_search&rid=giphy.gif&ct=g");  
}

@media (min-width: 820px) {

  .videos{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-bottom: 50px;
  }

  .youtube-video{
    text-align: center;
    height: 1000px;
  }

  #youtube-video{
    text-align: center;
    height: 1100px;
  }
  
}