#video-title{
font-size: 14px;
margin-left: 14px;
margin-right: 14px;
color: var(--gray-elements);
}

a{
  text-decoration: none;
  color: var(--gray-elements);
}

.videos{
  text-align: center;
}

.video-thumbnail-wrapper {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1 , 1fr);
  padding-bottom: 50px;
}

#video-thumbnails{
  /* padding-top: 10px; */
  margin-left: 12px;
  margin-right: 12px;
  height: 250x;
  width: 350px;
}